.App {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr));
}

.list-inputs {
  padding: 20px;
}

.form-inputs {
  padding: 20px;
}

.container-input {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.container-radio {
  width: 70%;
}

.style-label {
  font-size: 1.25rem;
  font-weight: bold;
}

.style-input {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 70%;
  height: 30px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333;
  outline: none;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
}

.style-select {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 70%;
  height: 30px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333;
  outline: none;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
}

.style-radio {
  border: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
  
}

.style-select:hover {
  border: 1px solid #333;
  cursor: pointer;
}

.button-style {
  border-radius: 10px;
  border: 1px solid rgb(64, 202, 64);
  background-color: rgb(64, 202, 64);
  padding: 5px;
  height: 30px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  outline: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/* .button-style:hover {
  border: 1px solid rgb(64, 202, 64);
  cursor: pointer;
  background-color: white;
  color: rgb(64, 202, 64);
} */

.button-delete-style {
  border-radius: 10px;
  border: 1px solid white;
  background-color: red;
  padding: 5px;
  height: 30px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  outline: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}